
<main>
  <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
  </nav>
</main>

<div class="sidebar">
  <ul  class="sidebar-list">

    <li *ngFor="let sound of sounds" class="sidebar-item">
      <div class="sidebar-anchor ">{{sound.name}}</div>
      <div class="control"(click)="play_audio(sound?.url)">
       <span class="material-symbols-outlined">play_arrow</span>
      </div>
    </li>

  </ul>
</div>
