main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #2D3142;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 30vw;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #EF8354;
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #EF8354;
  margin: 10px auto;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.move-to-left {
  transform: translateX(-30vw);
}

.sidebar-list {
  display: grid;
  padding: 0;
  list-style: none;
  margin-left: 10px;
  margin-top: 20px;
}

.sidebar-item {
  opacity: 0;
  display: flex;
}

.sidebar-item.active {
  opacity: 1;
}
.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  margin-right: 2vw;
  padding-bottom: 3px;
}


 .material-symbols-outlined {
   cursor: pointer;
   background: #FFFFFF;
   border-radius: 5px;
   font-variation-settings:
     'FILL' 0,
     'wght' 4000,
     'GRAD' 10,
     'opsz' 28
 }

.material-symbols-outlined:hover{
  background: #b2b0b0;
}


@media screen and (max-width: 768px) {


}

