/* You can add global styles to this file, and also import other style files */



html, body {
  margin: 0;
  height: 100vh
}

body {
  margin: 0;
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  place-items: center;
  line-height: 28px;
}
